{% extends 'form.new.base.html.twig' %}

{% block body %}
    <h1>Sportler anlegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Speichern" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('competitor_index') }}">Zurück zur Übersicht</a>
        </li>
    </ul>
{% endblock %}
