{% extends 'form.new.base.html.twig' %}

{% block body %}
    <h1>Sportler anlegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Speichern" />
    {{ form_end(form) }}

    <div>
        <a href="{{ path('competitor_index') }}" class="btn btn-default">Zurück zur Übersicht</a>
    </div>
{% endblock %}
