body {
  padding-top: 65px;
}
.table .table {
  background-color: transparent;
  margin-bottom: -10px;
}
/* overwrite Bootstrap's way of printing URLs */
@media print {
  a[href]:after {
    content: none
  }
}