{% extends 'form.new.base.html.twig' %}

{% block body %}
    <h1>Neue Veranstaltung erstellen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Erstellen" />
    {{ form_end(form) }}

    <hr />
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('event_index') }}" class="btn btn-default">Zurück zur Liste</a>
        </div>
    </div>
{% endblock %}
