{% extends 'form.new.base.html.twig' %}

{% block body %}
    <h1>Neuen Verein erfassen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Erstellen" />
    {{ form_end(form) }}

    <div>
        <a href="{{ path('club_index') }}" class="btn btn-default">Zurück zur Übersicht</a>
    </div>
{% endblock %}
