{% extends 'form.new.base.html.twig' %}

{% block body %}
    <h1>Mitgliedschaft anlegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Speichern" />
    {{ form_end(form) }}

    <hr>
    <a href="{{ path('competitor_show', { 'id': person.id }) }}" class="btn btn-default">Zurück zum Sportler</a>
{% endblock %}
